{% extends 'user_base.html' %}

{% block user %}


{# 注意: 参数q表示搜索内容，传递到模板中的数据为query #}
{#  参数page表示当前页码, 检索经过处理,用官方的检索方法  #}
<div class="search ">
    <ul class="goods_type_list clearfix">
        <h1>搜索&nbsp;<b>{{query}}</b>&nbsp;结果如下：</h1>
                {% for good in page %}
				<li>
					<a href="/goods/detail{{ good.object.id }}"><img src="/static/media/{{ good.object.gpic }}"></a>
					<h4><a href="/goods/detail{{ good.object.id }}">{{ good.object.gtitle }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ good.object.gprice }}</span>
						<span class="unit">{{ good.object.gprice }}/{{ good.object.gunit }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% empty %}
                <li>啥也没找到</li>
                {% endfor %}
            </ul>

    <div class="pagenation">
                {% if page.has_previous %}
                    <a href="?q={{query}}&amp;page=1">首页</a>
				    <a href="?q={{query}}&amp;page={{ page.previous_page_number }}">&lt上一页</a>
                {% endif %}

                {% if page.paginator.num_pages <= 5 %}
                    {% for i in page.paginator.page_range %}
                        {% if i ==  page.number  %}
                            <a href="" class="active">{{ i }}</a>
                        {% else %}
                            <a href="?q={{query}}&amp;page={{i}}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% if page.number == 1 %}
                        <a href="" class="active">1</a>
                        <a href="?q={{query}}&amp;page=2">2</a>
                        <a href="?q={{query}}&amp;page=3">3</a>
                        <a href="?q={{query}}&amp;page=4">4</a>
                        <a href="?q={{query}}&amp;page=5">5</a>
                    {% elif page.number == 2 %}
                        <a href="?q={{query}}&amp;page=1">1</a>
                        <a href="" class="active">2</a>
                        <a href="?q={{query}}&amp;page=3">3</a>
                        <a href="?q={{query}}&amp;page=4">4</a>
                        <a href="?q={{query}}&amp;page=5">5</a>
                    {% elif page.number == page.paginator.num_pages|add:-1 %}
                        <a href="?q={{query}}&amp;page={{page.number|add:-3}}">{{page.number|add:-3}}</a>
                        <a href="?q={{query}}&amp;page={{page.number|add:-2}}">{{page.number|add:-2}}</a>
                        <a href="?q={{query}}&amp;page={{page.number|add:-1}}">{{page.number|add:-1}}</a>
                        <a href="" class="active">{{ page.number }}</a>
                        <a href="?q={{query}}&amp;page={{page.number|add:1}}">{{page.number|add:1}}</a>
                    {% elif page.number == page.paginator.num_pages%}
                        <a href="?q={{query}}&amp;page={{page.number|add:-4}}">{{page.number|add:-4}}</a>
                        <a href="?q={{query}}&amp;page={{page.number|add:-3}}">{{page.number|add:-3}}</a>
                        <a href="?q={{query}}&amp;page={{page.number|add:-2}}">{{page.number|add:-2}}</a>
                        <a href="?q={{query}}&amp;page={{page.number|add:-1}}">{{page.number|add:-1}}</a>
                        <a href="" class="active">{{ page.number }}</a>
                    {% else %}
                        <a href="?q={{query}}&amp;page={{page.number|add:-2}}">{{page.number|add:-2}}</a>
                        <a href="?q={{query}}&amp;page={{page.number|add:-1}}">{{page.number|add:-1}}</a>
                        <a href="" class="active">{{ page.number }}</a>
                        <a href="?q={{query}}&amp;page={{page.number|add:1}}">{{page.number|add:1}}</a>
                        <a href="?q={{query}}&amp;page={{page.number|add:2}}">{{page.number|add:2}}</a>
                    {% endif %}
                {% endif %}

				{% if page.has_next %}
				    <a href="?q={{query}}&amp;page={{page.next_page_number}}">下一页></a>
                    <a href="?q={{query}}&amp;page={{page.paginator.num_pages}}">末页</a>
                {% endif %}
			</div>
</div>

{#<ul>#}
{#{%for item in page%}#}
{#    <li>{{item.object.id}}--{{item.object.gcontent|safe}}</li>#}
{#{%empty%}#}
{#    <li>啥也没找到</li>#}
{#{%endfor%}#}
{#</ul>#}
{#<hr>#}
{#{%for pindex in page.paginator.page_range%}#}
{#    {%if pindex == page.number%}#}
{#        {{pindex}}&nbsp;&nbsp;#}
{#    {%else%}#}
{#        <a href="?q={{query}}&amp;page={{pindex}}">{{pindex}}</a>&nbsp;&nbsp;#}
{#    {%endif%}#}
{#{%endfor%}#}

{% endblock user %}
